/* CSS code for webpage layout */
h1{
	font-style: italic;
}

h4.italic {
	letter-spacing: 2px;
	font-style: italic;
	text-align: center;
}

.logInTable {
	margin: 0px auto;
	border: 1px solid black;
	
}

.logoutDialog {
	visibility: hidden;
	position:	absolute;
	left:		90px;
	top:		120px;
	width:		200px;
	height:		90px;
	text-align:	center;
  	border: 	solid;
 	background-color: lightgray;
}

.btn {
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 18px;
  background: #db7d0b;
  padding: 5px 13px 5px 13px;
  border: dotted #3c7496 2px;
  text-decoration: none;

}
.btn:hover {
  background: #f59c2e;
  text-decoration: none;
}

.form-title {
   margin-bottom:10px;
   color: #725129;
}
.form-container {
   border: 2px solid #f2e3d2;
   background: #c9b7a2;
   background: -webkit-gradient(linear, left top, left bottom, from(#fa880f), to(#c9b7a2));
   background: -webkit-linear-gradient(top, #fa880f, #c9b7a2);
   background: -moz-linear-gradient(top, #fa880f, #c9b7a2);
   background: -ms-linear-gradient(top, #fa880f, #c9b7a2);
   background: -o-linear-gradient(top, #fa880f, #c9b7a2);
   background-image: -ms-linear-gradient(top, #fa880f 0%, #c9b7a2 100%);
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
}
.form-field {
   border: 2px solid #c9b7a2;
   background: #e4d5c3;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   color: #c9b7a2;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
}
.form-field:focus {
   background: #fff;
   color: #725129;
}
.form-container h2 {
   text-shadow: #fdf2e4 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

